ul.pagination {
list-style: none;
padding: 0;
margin: 0 0 0 15px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex; }
ul.pagination li {
margin-left: 15px; }
ul.pagination li a {
color: #363636;
font-weight: 700;
text-decoration: none;
-webkit-transition-duration: 0.25s;
-o-transition-duration: 0.25s;
transition-duration: 0.25s; }
ul.pagination li a.current,  ul.pagination li a:hover {
color: #ffa200; }
.hidetitle .t { display:none !important; }
.hidetitle { margin-top:0 !important; }
.popup.add-to-cart { display:none; }
.popup.open { display:block; }
#products .item .size span { display:none !important; }
.item span.label.handmade {
    background: #555;
}
.item span.label.natural {
    background: #555;
}

.pagnomar .pagination { margin-left:-15px !important; }
.range-slider  { display:none; }
.sbros { font-size: 13.5px;    
    margin-top: 50px;
    color: #363636;
    text-decoration: none;
    opacity: 0.5;
    -webkit-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s; }
.sbros:hover {
    opacity: 1;
}
.res { display:block; text-align:center; text-decoration:none; margin-top: 25px !important;}
.item #shk_prodHelper, .catalog #shk_prodHelper { display:none !important; }
.popup .shk-del { z-index:10; }
#lookback a { -webkit-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s; }
#lookback .item:hover a { color:#000 !important; }
.input-error { border:1px solid #f10000 !important; }
.check-error input + span:before { border-color:#f10000 !important; }
body.order section#order > .container-fluid .order_wrap .order_inner .radio label input.check-error + span:before { border-color:#f10000 !important; }
.validate { display:block; margin-bottom:-3px; margin-left:-10px !important; padding:0 !important; opacity:0.01; position:absolute; width:0 !important; height:0 !important; }
body.catalog section#catalog_full > .container-fluid > .row .catalog_col .catalog_view .item span.label { left:-7px; }
body.item section#item .container-fluid .img span.green {
        display: block;
        position: absolute;
        top: -15px;
        right: -15px;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        height: 40px;
        line-height: 39px;
        width: 40px;
        text-transform: uppercase;
        background: url("") no-repeat 10px 7px #88d119;
        z-index: 2; 
		left:auto; }
      body.item section#item .container-fluid .img span.hand {
        display: block;
		left:auto; 
        position: absolute;
        top: -15px;
        right: -15px;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        height: 40px;
        line-height: 39px;
        width: 40px;
        background: url("") no-repeat 10px 7px #e1d6be;
        z-index: 2; }
body.catalog section#catalog_full > .container-fluid > .row .catalog_col .catalog_view .item span.green {
          display: block;
		  left:auto;
          position: absolute;
          top: -20px;
          right: -20px;
          -webkit-border-radius: 20px;
                  border-radius: 20px;
          height: 40px;
          line-height: 39px;
          width: 40px;
          z-index: 2;
          background: url("") no-repeat 10px 7px #88d119; }
        body.catalog section#catalog_full > .container-fluid > .row .catalog_col .catalog_view .item span.hand {
          display: block;
		  left:auto;
          position: absolute;
          top: -20px;
          right: -20px;
          -webkit-border-radius: 20px;
                  border-radius: 20px;
          height: 40px;
          line-height: 39px;
          width: 40px;
          z-index: 2;
          background: url("") no-repeat 10px 7px #e1d6be; }
body.catalog section#catalog_full > .container-fluid > .row .filter_col #filters .filter.razmer input { font-size:13px; }
nav > .container-fluid > ul > li.cart .basket ul li a.del:hover, .popup.add-to-cart ul li a.del:hover { color: #888; }
.notfound { margin-left:15px; }
body.cart section#cart > .container-fluid .cart_wrap .cart_inner form .details > div:first-child .num { font-size:12px; }

.thanksp p.title {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 35px; }
.thanksp p.number {
      font-size: 18px;
      text-align: center;
      padding-bottom: 25px;
      font-weight: 700; }
	  
body.page-text section#content h2.title {
    text-align: left;
    padding-left: 30px;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
}

body.item section#item .container-fluid .details .itemtype1 .shirina .inner label div > span { display:none; }
.pg18 .razmer { display:none; }
.nav_fixed .down div.row.cat { display:flex; }
.nav_fixed .down div.row.cat img { display:none; }
.nav_fixed .down div.row.cat a { font-size: 16px;
    font-weight: 400;     display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #363636;
    position: relative;}