a.openmenu:after{
	content: "\f0c9";
	font-family: "FontAwesome";
	text-decoration: none;
	color:#fff;
	position: absolute;
	font-size: 36px;
	left: 10px;
	top: 9px;
}
a.openmenu{
	display: none;
}
.nav_fixed{
	width:260px;
	top:0px;
	left:0;
	position: fixed;
	background: #f8f8f8;
	z-index: 12;
	-moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
 	 -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
  	-webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
  	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
  	-moz-transform: translateX(-100%);
  	-ms-transform: translateX(-100%);
  	-webkit-transform: translateX(-100%);
 	 transform: translateX(-100%);
 	 overflow-x: hidden;
    overflow-y: auto;
 	 height: 100%;
}
.nav_fixed  li > a:hover, .nav_fixed  li.active > a{
	//background: #ffc400;
	color:#ffc400;
}
.nav_fixed ul li.cart{
	display: none;
}
.nav_fixed ul li.search{
	display: none;
}
.nav_fixed ul > li > .down a{
	font-size: 16px;
	font-weight: 400
}
.nav_fixed .down div.row.cat{
	display: none;
}
.nav_fixed .down div.cats ul{
//	height: auto !important
}
.nav_fixed .down div.cats a.more{
	display: none !important;
}
.nav_fixed .down div.cats p.title{
	font-weight: 400;
	font-size: 16px;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #ffc400;
	position: relative;
}
.nav_fixed.open{
	-moz-transform: translateX(0%);
  	-ms-transform: translateX(0%);
  	-webkit-transform: translateX(0%);
 	 transform: translateX(0%);
 	 box-shadow:0 0 10px rgba(0,0,0,0.3);
}
.close_nav {
    background: #ffc400 none repeat scroll 0 0;
    color: #fff !important;
    position: fixed;
    text-align: center;
    text-decoration: none;
    top: 0px;
    transform: translateX(-100%);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
    width: 25px;
    z-index: 88;
    width: 56px;
	height: 56px;
	 font-size:46px;
	 line-height: 56px;
	display: block;
	z-index:11;
}
.close_nav.open {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    left: 260px;
    transform: translateX(0%);
    display: none;
}
.nav_fixed p.phone {
    color: #868686;
    font-size: 13px;
    text-align: center;
    line-height: 1.5;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 40px; }
.nav_fixed p.phone a {
	  font-size: 19px;
	  color: #000;
	  text-decoration: none;
	  display: block; }
 .nav_fixed p.phone a span {
    //font-size: 24px;
    font-weight: 700; }
.nav_fixed p.phone a:hover {
    opacity: 0.8; }
.nav_fixed ul{
	list-style: none;
	padding: 0;
	margin: 0;
}  
.nav_fixed ul > li > a{
	font-weight: 400;
	font-size: 16px;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #363636 ;
	position: relative;
}
.nav_fixed  ul > li.parent > a span{
	display: inline-block;
	width: 40px;
	height: 40px;
		position: absolute;
	right: 0px;
	top: 0;
	text-align: center;
}
.nav_fixed  ul > li.parent > a span:after{
	font-family: "FontAwesome";
	content: "\f107";

	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center
}
.nav_fixed  ul > li.parent > a.open{
	color:#ffc400;
}
.nav_fixed  ul > li.parent > a.open span:after{

	content: "\f106";

}
.nav_fixed ul .down {
	display: none;
} 
.nav_fixed .down div.cats p.title{
	color:#363636;
	cursor: pointer;
}
.nav_fixed .down div.cats p.title.open:after{

	content: "\f106";

}
.nav_fixed .down div.cats p.title.open{
	color:#ffc400;
}
.nav_fixed .down div.cats p.title:after{
	font-family: "FontAwesome";
	content: "\f107";
	margin-top: -10px;
	margin-right: -30px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	float: right;
}
.nav_fixed .down div.cats p.title + ul{
	display: none;
	padding-left: 20px;
}

.overlay {
 /* background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none; */}


@media screen and (max-width: 1600px){
	nav > .container-fluid > ul .down:before,
	nav > .container-fluid > ul .down:after{
		display: none;
	}		
	nav > .container-fluid > ul .down > .container-fluid{
		padding-left: 15px;
		padding-right: 15px;
	}
	nav > .container-fluid > ul > li.parent:hover .down{
		overflow: hidden;
	}
}

@media screen and (max-width: 1200px){
	section#banner .row > div .info .title{
		font-size: 28px
	}
}

@media screen and (max-width: 991px){
	.bootstrap-wrapper .container-fluid{
		padding-left: 15px;
		padding-right: 15px;
	}
	section#catalog .row > div{
		padding: 0 15px;
		margin-bottom: 30px;
	}
	section#catalog .row{
		margin: 0 -15px;
	}
	section#look .row{
		margin: 0 -15px;
	}
	section#look .row > div{
		padding: 0 15px;
		margin-bottom: 30px;
	}
	section#look{
		margin-bottom: 30px;
	}
	section#ussr .row > div{
		padding: 0 15px
	}
	section#ussr .row{
		margin: 0 -15px;
	}
	a.openmenu{
		display: block;
	}
	nav > .container-fluid > ul > li{
		display: none;
	}
	nav > .container-fluid > ul{
		justify-content: flex-end;
	}
	nav > .container-fluid > ul > li.search{
		display: block;
		float: right;
		font-size: 24px
	}
	nav > .container-fluid > ul > li.search i{
		font-size: 18px
	}
	.show-search nav > .container-fluid > ul > li.search i{
		display: none;
	}
	nav > .container-fluid > ul > li.cart{
		display: block;
		float: right;
		margin-left: 20px;
	}
	body.catalog section#catalog_full > .container-fluid > .row .filter_col #filters{
		display: none;
	}
	#filters{
		position: fixed; 
		z-index: 8;
		background: #fff;
		padding: 20px;
		top: 0;
		left: 0;
		right: 30px;
		bottom: 0;
		overflow-y: auto;
		width: 260px;
	}
	#filters .filter{
		width: 210px;
	}
	body.catalog section#catalog_full > .container-fluid > .row{
		flex-flow: column
	}
	body.catalog section#catalog_full > .container-fluid > .row .filter_col{
		width: 100%;
		justify-content: flex-start;
	}
	body.catalog section#catalog_full > .container-fluid > .row .catalog_col{
		padding-left: 15px;
	}
	body.cart section#cart > .container-fluid .cart_wrap > div{
		flex-flow: column
	}
	body.cart section#cart > .container-fluid .cart_wrap .cart_inner{
		width: 100%;
		flex: 0;
	}
	body.cart section#cart > .container-fluid .cart_wrap .dev_cart_itog{
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;
		width: 100%;
		max-width: 320px
	}
	body.page-text section#content .collection > .row > div{
		margin-bottom: 60px;
	}
	body.page-text section#content .collection{
		margin-bottom: 0;
	}
	body.contacts section#contacts > .container-fluid .contacts_wrap .info{
		margin-bottom: 50px;
	}
	body.contacts section#contacts > .container-fluid .contacts_wrap .contacts_inner .info .row{
		padding-left: 0;
	}
	body.contacts section#contacts > .container-fluid .contacts_wrap .contacts_inner .input .row{
		padding-left: 0;
		margin-bottom: 0;
	}
	body.contacts section#contacts > .container-fluid .contacts_wrap .contacts_inner .input .row.contacts_check{
		margin-top: 20px;
	}
	body.result_filters section#catalog_full > .container-fluid > .row .filter_col p.title{
		display: none;
	}
	body.cart section#cart > .container-fluid ul.bread{
		margin-left: -25px;
	}
	body.cart section#cart > .container-fluid{
		padding-left: 15px;
	}
	body.contacts section#contacts > .container-fluid ul.bread{
		margin-left: -25px;
	}
	body.contacts section#contacts > .container-fluid{
		padding-left: 15px;
	}
	body.order section#order > .container-fluid ul.bread{
		margin-left: -25px;
	}
	body.order section#order > .container-fluid{
		padding-left: 15px;
	}
	body.contacts section#contacts > .container-fluid .contacts_wrap .contacts_inner .info .row > div.label{
		width: 100%;
		margin-bottom: 15px;
	}
	body.contacts section#contacts > .container-fluid .contacts_wrap .contacts_inner .input{
		padding-left: 15px;
	}
	body.contacts section#contacts > .container-fluid .contacts_wrap .contacts_inner .input .row{
		flex-flow: wrap;
	}
	body.contacts section#contacts > .container-fluid .contacts_wrap .contacts_inner .input .row span:first-child{
		width: 100%;
		margin-bottom: 15px;
	}
	body.item section#item .container-fluid{
		padding-left: 30px;
		padding-right: 30px;
	}
	body.item ul.bread{
		margin-left: -15px;
	}
	body.item section#item .container-fluid .details{
		padding-left: 15px;
		padding-right: 15px;
	}
	body.filter-results section#catalog_full > .container-fluid > .row .filter_col p.title{
		display: none;
	}
	body.catalog section#catalog_full > .container-fluid > .row .catalog_col div.pag form select{
		width: 280px;
	}
	body.catalog section#catalog_full > .container-fluid > .row .catalog_col div.pag form{
		width: 280px;
	}
	body.catalog section#catalog_full > .container-fluid > .row .catalog_col div.show_more a{
		width: 280px;
	}
	body{
		padding-bottom: 0;
	}
	footer{
		position: relative;
		bottom: auto;
	}
}


@media screen and (max-width: 768px){
	header#bar .row > div p.phone{
		display: none
	}
	section#banner .row > div{
		margin-bottom: 30px;
	}
	section#icons ul li{
		margin-bottom: 25px;
	}
	footer .nav .row > div{
		margin-bottom: 45px;
		text-align: center;
	}
	footer .nav{
		padding-bottom: 0;
	}
	section#icons{
		margin-bottom: 60px;
	}
	header#bar{
		z-index: 5;
	}
	header#bar{
		height: 0px;
		position: absolute;
		height: 56px;
		background: transparent;
		left: 60px;
		right: 150px;
		width: auto;
		text-align: center;
		min-width: auto
	}
	header#bar .row > div{
		justify-content: center;
	}
	header#bar .row > div a.logo img{
		height: 40px;
	}
	header#bar .container-fluid{
		margin: 0;
		padding: 0;
	}
	header#bar .row{
		margin: 0;
	}
	header#bar .row > div a.logo img{
		margin-right: 0;
	}
	header#bar .row > div form{
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 56px;
		width: 100%;
		left: -60px;	
		background: #fff;
		padding: 20px;
		right: -150px;
		width: auto;
		-webkit-transition-duration: 0.25s;
		-o-transition-duration: 0.25s;
		transition-duration: 0.25s;
	}
	body.show-search header#bar .row > div form{
		opacity: 1;
		visibility: visible;
	}
	header#bar .row > div form button{
		top: 20px;
		right: 20px;
	}
	body.item section#item .container-fluid .img{
		margin-bottom: 30px;
	}
	body.item section#item .container-fluid{
		padding: 0 15px;
	}
	 
	body.item section#item .container-fluid .img .slick-prev{
		background-color: #fff;
		left: 15px;
		z-index: 2;
	}
	body.item section#item .container-fluid .img .slick-next{
		background-color: #fff;
		right: 15px;
		z-index: 2;
	}
	body.item section#item .container-fluid .details{
		 
	}
	body.item section#item .container-fluid .har{
		padding-left: 0px;
		padding-right: 0px;
	}
	body.item section#seemore .container-fluid{
		padding-left: 45px;
		padding-right: 45px;
	}
	body.item section#seemore .container-fluid .slick-prev{
		left: -35px;
	}
	body.item section#seemore .container-fluid .slick-next{
		right: -35px;
	}
	section#lookback .container-fluid{
		padding-right: 60px;
		padding-left: 60px;
	}
	section#lookback .container-fluid p.title{
		position: relative;
		text-align: center;
		left: auto;
		top: auto;
		margin-bottom: 25px;
		width: 100%;
		font-size: 26px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
	}
	ul.bread{
		padding-left: 25px;
		padding-right: 25px;
	}
	body.cart section#cart > .container-fluid .cart_wrap .cart_inner form .details > div:first-child{
		flex-flow: column;
		justify-content: flex-end;
		align-items: flex-start;
	}
	body.cart section#cart > .container-fluid .cart_wrap .cart_inner form .details > div:first-child .title{
		margin-bottom: 15px;
	}
	body.catalog section#catalog_full > .container-fluid > .row .catalog_col div.pag{
		flex-flow: column;
	}
	body.catalog section#catalog_full > .container-fluid > .row .catalog_col div.pag div{
		margin-top: 20px;
	}
	 body.order section#order > .container-fluid .order_wrap .order_inner .input .row span:first-child{
	 	margin-bottom: 10px;
	 }
	 body.order section#order > .container-fluid .order_wrap .order_inner .input .row{
	 	padding-left: 0;
	 }
	 body.order section#order > .container-fluid .order_wrap .order_inner .radio label{
	 	//padding-left: 0;
	 }
	 body.order section#order > .container-fluid .order_wrap .input{
	 	margin-bottom: 40px;
	 }
	 body.order section#order > .container-fluid .order_wrap .order_inner .radio label{
	 	margin-left: 0;
	 }
	 body.cart section#cart > .container-fluid .cart_wrap .cart_inner form .details > div:first-child .num{
	 	justify-content: space-between;
	 	width: 100%;
	 }
	 body.item section#item .container-fluid .img .carousel_big{
	 	margin-left: auto;
	 	margin-right: auto;
	 }
	 body.item section#item .container-fluid .img .thumbs{
	 	margin-left: auto;
	 	margin-right: auto;
	 }
	 body.item section#item .container-fluid .details .have .row{
	 	display: flex;
	 	justify-content: space-between;
	 }
	 body.item section#item .container-fluid .har .sv .row{
	 	padding-left: 0;
	 }
	 body.item section#item .container-fluid .details .have .row > div.label{
	 	width: 180px;
	 }
	 body.item section#item .container-fluid .har .sv .row .label{
	 	width: 120px;
	 }
	 body.item section#item .container-fluid .har .sv .row{
	 	display: flex;
	 	justify-content: space-between;
	 }
	 body.item section#item .container-fluid .details .price{
	 	padding-left: 0;
	 }
	 .popup.add-to-cart{
	 	top: 56px;
	 	//width: calc(100% - 20px);
	 }
	 .popup.thanks{
	 	top: 120px;
	 	//width: calc(100% - 20px);
	 	padding: 0 20px;
	 }
	 body.item section#item .container-fluid .img .slick-prev{
 
	 	padding: 0;
	 	margin: -21px 0 0 0;
	 }
	 body.item section#item .container-fluid .img .slick-prev i{
	 	width: 40px;
	 	height: 43px;
	 	line-height: 40px
	 }
	 body.item section#item .container-fluid .img .slick-next{
 
	 	padding: 0;
	 	margin: -21px 0 0 0;
	 }
	 body.item section#item .container-fluid .img .slick-next i{
	 	width: 43px;
	 	height: 43px;
	 	line-height: 40px
	 }
 
	 body.item section#seemore .container-fluid  .slick-prev{
 
	 	padding: 0;
	 	margin: -21px 0 0 0;
	 }
	 body.item section#seemore .container-fluid  .slick-prev i{
	 	width: 40px;
	 	height: 43px;
	 	line-height: 40px
	 }
	 body.item section#seemore .container-fluid  .slick-next{
 
	 	padding: 0;
	 	margin: -21px 0 0 0;
	 }
	 body.item section#seemore .container-fluid  .slick-next i{
	 	width: 43px;
	 	height: 43px;
	 	line-height: 40px
	 }
	 body.item ul.bread{
		margin-left: -25px;
	}
	body.item section#item .hidden-lg-up a.back span{
		display: none;
	}
	body.item section#item .hidden-lg-up .col-12 > div{
		align-items: center;

	}
	body.item section#item .hidden-lg-up a.back{
		position: absolute;
	}
	body.item section#item .hidden-lg-up h1{
		text-align: left;
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 18px
	}
	body.item header#bar{
		display: none;
	}
	body.item header#bar + nav{
		display: none;
	}
	body.item ul.bread{
		display: none;
	}
	body.item section#item .hidden-lg-up{
		margin-top: -15px;
	}
}


@media screen and (max-width: 576px){
	 header#bar{
	 	 
	 }
	 header#bar .row > div{
	 	flex-flow: column;
	 	justify-content: center;
	 	align-items: center;
	 }
	 header#bar .row > div p.phone{
	 	text-align: center;
	 	margin-left: 0;
	 	margin-top: 25px;
	 }
	 
	 .popup.add-to-cart{
	  
	 }
	 body.cart section#cart > .container-fluid .cart_wrap .cart_inner form{
	 	//flex-flow: column;
	 	align-items: flex-start;
	 }
	 body.cart section#cart > .container-fluid .cart_wrap .cart_inner form img{
	 	margin-right: 10px;
	 	width: 70px;
	 }
	 body.cart section#cart > .container-fluid .cart_wrap .cart_inner form .details{
	 	margin-top: 0;
	 }
	 footer .nav ul{
	 	margin-bottom: 15px;
	 }
	 section#banner .row > div .info .title{
		font-size: 22px;
		padding-right: 25px;
	 }
	 body.cart section#cart > .container-fluid .cart_wrap .cart_inner form .details .price .price-old span.line{
	 	font-size: 12px
	 }
	 body.cart section#cart > .container-fluid .cart_wrap .cart_inner form .details .price .price-old span.sale{
	 	font-size: 12px
	 }
	 body.cart section#cart > .container-fluid .cart_wrap .dev_cart_itog > div{
	 	max-width: 340px;
						width: 100%

	 }
	 body.cart section#cart > .container-fluid .cart_wrap .dev_cart_itog{
	 	max-width: 340px
	 }
	 body.item section#item .container-fluid .details .price .price-old span.line{
		font-size: 13px
	 }
	 body.item section#item .container-fluid .details .price .price-old span.sale{
		font-size: 13px
	 }
	 .popup.add-to-cart a.btn_w{
	 	min-width: 140px;
	 	padding: 14px 15px;
	 	margin-right: 10px;
	 }
	 .popup.add-to-cart a.btn_w:last-child{
	 	margin-left: 10px;
	 	margin-right: 0;
	 }
	 
}			
@media screen and (max-width: 450px){
body.item section#item .container-fluid .img .thumbs .carousel_thumbs {
	    width: auto;
	    margin: 0 -10px;
	}
	}