html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font,  ins, kbd, q, s, samp,
small, strike, strong,  tt, var, img,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend, caption
{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body
{ line-height: 1.3;}
blockquote, q
{ quotes: none; }
blockquote:before, blockquote:after,q:before, q:after
{ content: ''; content: none;}
:focus
{ outline: 0;}
ins
{ text-decoration: none;}
del
{ text-decoration: line-through;}
table
{ border-collapse: collapse; border-spacing: 0; border:0}
html
{ width:100%;  /*height:100%;*/}
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* РҐР°Рє РґР»СЏ IE 6 Рё 7 */
}
.clr
{clear:both}